<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="./css/style.css" rel="stylesheet">
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>

    <header class="encabezado">
        <div class="logo">
        <div class="logoml"><img  src="./images/logo-mercado-liebre.svg" ></div>
        <div class="navega"><input type="search" value="Buscar productos, marcas" ></i>
        </div>
        <p class="tituloHeader"><i class="fas fa-hand-holding-usd"></i>
            Compra en cuotas y sin tarjeta de credito</p>
        </div>
        
        
        
        <div class="nav">
        <ul class="menu">
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
       </ul>
    
       <ul class="menu">
        <li>Crea tu cuenta  <i class="far fa-id-card"></i></li>
        <li>Ingresa  <i class="fas fa-sign-in-alt"></i></li>
        <li>Mis compras  <i class="fas fa-shopping-basket"></i></li>
        
   </ul>
</div>
   <div class="burger-menu">
    <i class="fa fa-bars burger"></i>
    </div >
    
       </header>

       <div class="banner"><img  src="./images/img-home-banner.jpg" ></div>
    

    

    <main>

        <form action="">
            <div class="nombreUsuario">
            
                <label for="nombreUsuario"></label>
                <input type="text" id="nombreUsuario" name="nombreUsuario" placeholder="Usuario">
    
            </div>

            <div class="contra">
            
                <label for="contra"></label>
                <input type="password" id="contra" name="contra" placeholder="Contraseña">
    
            </div>

            <div class="submit">
                <button type="submit" >Enviar</button>
            </div>





        </form>


    </main>

    <footer>
        <section class="seccionFooter">
            <p class="tarjeta"><i class="fas fa-credit-card"></i></p>
            <p class="pieh1">Paga con tarjeta o en efectivo</p>
            <p class="pieh2">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro!</p>
        </section>
        <section class="seccionFooter">
            <p class="tarjeta"><i class="fas fa-gift"></i></p>
            <p class="pieh1">Envío gratis desde $ 2.500</p>
            <p class="pieh2">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="seccionFooter">
            <p class="tarjeta"><i class="fas fa-user-shield"></i></p>
            <p class="pieh1">Seguridad, de principio a fin</p>
            <p class="pieh2">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p class="piepie">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            
        </section>

</footer>
    
</body>
</html>