<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="./css/style.css" rel="stylesheet">
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

</head>

<body>

    <header class="encabezado">
        <div class="logo">
        <div class="logoml"><img  src="./images/logo-mercado-liebre.svg" ></div>
        <div class="navega"><input type="search" value="Buscar productos, marcas" ></i>
        </div>
        <p class="tituloHeader"><i class="fas fa-hand-holding-usd"></i>
            Compra en cuotas y sin tarjeta de credito</p>
        </div>
        
        
        
        <div class="nav">
        <ul class="menu">
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
       </ul>
    
       <ul class="menu">
        <li>Crea tu cuenta  <i class="far fa-id-card"></i></li>
        <li>Ingresa  <i class="fas fa-sign-in-alt"></i></li>
        <li>Mis compras  <i class="fas fa-shopping-basket"></i></li>
        
   </ul>
</div>
   <div class="burger-menu">
    <i class="fa fa-bars burger"></i>
    </div >
    
       </header>

       <div class="banner"><img  src="./images/img-home-banner.jpg" ></div>
    

    

    <main>
        <form action="">
        <div class="nombre">
            
                  <label for="nombre" ></label>
                  <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido">

        </div>
        <div class="nombreUsuario">
            
            <label for="nombreUsuario"></label>
            <input type="text" id="nombreUsuario" name="nombreUsuario" placeholder="Domicilio">

        </div>


        <div class="email">
            
            <label for="email"></label>
            <input type="text" id="email" name="email" placeholder="E-mail">

         </div>
         <div class="nacimiento">
            
            <label for="nacimiento"></label>
            <input type="date" id="nacimiento" name="nacimiento" placeholder=" /  / ">

    </div>
    <div class="domicilio">
            
        <label for="domicilio"></label>
        <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio">

    </div>
    <label for="perfilUsuario"><p class="pdu">Perfil del usuario</p></label>
    <div class="perfil">
            
        
        <label>
            <input type="radio" name="elmismo">
        Comprador
        </label>
        
        <label>
            <input type="radio" name="elmismo">
        Vendedor
        </label>

    </div>
    <label for="intereses"><p class="in">Intereses</p></label>
    <div class="interes">
            
        
        <label>
            <input type="checkbox" name="interes">
        Electro
        </label>
        
        <label>
            <input type="checkbox" name="interes">
        Moda
        </label>
        <label>
            <input type="checkbox" name="interes">
        Hogar
        </label>
        <label>
            <input type="checkbox" name="interes">
        Jugueteria
        </label>
        <label>
            <input type="checkbox" name="interes">
        Vida sana
        </label>

    </div>

    <div class="foto">
            
        <label for="foto"></label>
        <input type="file" id="foto" name="foto" placeholder="foto">

    </div>
    <div class="contras">
    <div class="contra">
            
        <label for="contra"></label>
        <input type="password" id="contra" name="contra" placeholder="Contraseña">

    </div>

    <div class="confirma">
            
        <label for="confirma"></label>
        <input type="password" id="confirma" name="confirma" placeholder="Confirmar Cotraseña">

    </div>
</div>
<div class="botones">
    <div class="submit">
        <button type="submit" ><p>Enviar</p></button>
    </div>

    <div class="reset">
        <button type="reset" ><p>Borrar</p></button>
    </div>
</div>
    
</form>
    </main>

    <footer>
        <div class="contFooter1">
        <section class="seccionFooter">
            <p class="tarjeta"><i class="fas fa-credit-card"></i></p>
            <p class="pieh1">Paga con tarjeta o en efectivo</p>
            <p class="pieh2">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro!</p>
        </section>
        <section class="seccionFooter">
            <p class="tarjeta"><i class="fas fa-gift"></i></p>
            <p class="pieh1">Envío gratis desde $ 2.500</p>
            <p class="pieh2">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="seccionFooter">
            <p class="tarjeta"><i class="fas fa-user-shield"></i></p>
            <p class="pieh1">Seguridad, de principio a fin</p>
            <p class="pieh2">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
    </div>
    <div class="contFooter2">
        <section>
            <p class="piepie">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            
        </section>
    </div>
</footer>
    
</body>
</html>