*{
    
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

.encabezado{

    background-color: #EAC926;
    background-size: cover;
    width: 90vw;
    margin:auto;
    height: 160px;
    
}
.tituloHeader{
    text-align: center;
    font-size: 12px;
    
}


ul{

    list-style-type: none;
    display: inline;
    font-size: 12px;

}
.fa-credit-card{
    color: #1259c3;
    font-size: 2em;
    
}
.tarjeta{
    text-align: center;
}

.burger-menu{
    background-color:#1259c3;
    text-align: center;
    font-size: 1.2em;
    color:#ffffff;
    border-radius: 5px;
    max-width: 35px;
    margin-left: auto;
    margin-right: auto;
    
    padding: 5px;
    
    
}

.navega{
    font-size: 12px;
    padding-top: 15px;
    
    
}

.nav{
    display: flex;
    justify-content: space-between;
    
    
}
.basado{
    
    
    color: #666;
    padding-top: 10px;
    padding-left: 35px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
.precios{
    font-size: 18px;
    
}
.desc{                      /****************************************************************/
    font-size: 16px;        
    color: #666;         
    display: none;
    transition: all 1000ms;
                                                /*MUY IMPORTANTE*/
}
.envio:hover .desc{
        display: block; 
        border-radius: 30%;  
        
}  

/****************************************************************/



.descu{
    font-size: 16px;
    color:#39b54a;
    padding-left: 15px;
    
    
}

.pieh1{
    font-size: 16px;
    text-align: center;
    font-weight: bold;

}
.pieh2{
    font-size: 12px;
    text-align: center;
    margin-top: -15px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;

}
.fa-user-shield{
    color: #1259c3;
    font-size: 2em;
    
}
.fa-gift{
    color: #1259c3;
    font-size: 2em;
    
}
.piepie{
    font-size: 12px;
    margin-top: 35px;
}
.seccionFooter{
    margin-top: 70px;
}
main{
    background-color: #ebebeb;
    width: 90vw;
    margin: auto;
    
    margin-top: -22px;
}
.fa-truck{
color:#39b54a;
transition: transform .7s;

}
.fa-truck:hover{

    transform: rotate(-90deg);
}


.envio{

    margin-top: 2px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
    padding: 15px;
    background-color: white;
    width: 292px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.banner{
    width: 90vw;
    
    margin:auto;    
    
}
.banner img{
    width: 100%;

}
.divBanner{

    width: 90vw;
}
/*.menu{
   /* display: none;    -------------------------------------------------------------------------*/
    

.logo{
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
    
    
    
    
.logoml{
    width: 50%;
    
    
    
}
.logoml img{
    width: 100%;
    padding-left: 15px;
    max-width: 200px;
}
.logo .navega input{
    width: 90%;
    border-radius: 5px;
    border-color: transparent;
    height: 30px;
    color: #666;
    font-weight: bold;
    max-width: 380px;
    
    
}
.seccion{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
/*.fa-search{
    background-color: white;
    height: 20px;
    <i class="fas fa-search">


}*/
.navega{
    width: 50%;
    margin: 0px;
    padding: 0px;
    
    padding-left: 10px;
    padding-top: 5px;
}


.foto{
    width: 292px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}



main section .envio i{
    display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute;
right: 20px;
top: -15px;


}

form {

    margin-top: 30px;
}

.submit button:hover{

    background-color: #0022AA;
}
.seccionFooter i:hover{

    color: #39b54a;

}



@media (min-width: 480px){
	.desc{        
        visibility: visible; 
        
              
    }
    .seccion section{

        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0px;
        padding: 0px;
    }
    .menu li{

        padding: 5px 0;
        display: inline-block;
    }
    
    .burger-menu {
        display: none;
    }
    .logo{
        
        flex-wrap: nowrap;
    }
    .tituloHeader p{
        width: 350px;
    }
    .logoml{
        width: 33%;
               
    }
    .navega{
        width: 33%;
    }
}

@media (min-width: 768px){
	
    
    .seccion section{

        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .logoml{
        width: 33%;
               
    }
    .navega{
        width: 33%;
    }
    .tituloHeader p{
        width: 350px;
    }
    .menu{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 0px;
        padding: 0px;
        
    }
    .menu li{

        padding: 5px 0;
        display: inline-block;
    }
    
    .nav .menu li{
        display: flex;
        margin: 15px 15px;

    }
    .logo{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        

    }
    .burger-menu{
        display: none;
    }
    .fa-id-card{
        font-size: 1.1em;
    }
    .fa-sign-in-alt{
        font-size: 1.1em;
    }
    .fa-shopping-basket{
        font-size: 1.1em;
    }
    
}

@media (min-width: 1200px){

.encabezado{

    
   
    margin: auto;
}

footer {

    display: flex;
    flex-direction: column;
    
    
    
}
.contFooter1{
    display: flex;
    justify-content: space-around;
    
}

}