*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

.encabezado{

    background-color: #EAC926;
    background-size: cover;
    width: 90vw;
    margin:auto;
    
}
.tituloHeader{
    text-align: center;
    font-size: 12px;
}

ul{

    list-style-type: none;
    display: inline;
    font-size: 12px;

}
.fa-credit-card{
    color: #1259c3;
    font-size: 2em;
    
}
.tarjeta{
    text-align: center;
}

.burger-menu{

    text-align: center;
    font-size: 2em;
    color:#1259c3;
}

.navega{
    font-size: 12px;
    padding-top: 15px;
    
    
}
.logo{
    margin-left: 20px;
    padding-top: 30px;
}
.basado{
    font-size: 24px;
    
    color: #666;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}
.precios{
    font-size: 18px;
    margin-bottom: 10px;
}
.desc{
    font-size: 16px;
    color: #666;
    display: none;
    
    
}
.descu{
    font-size: 16px;
    color:#39b54a;
    margin-top: -14px;
    
}

.pieh1{
    font-size: 16px;
    text-align: center;
    font-weight: bold;

}
.pieh2{
    font-size: 12px;
    text-align: center;
    margin-top: -15px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;

}
.fa-user-shield{
    color: #1259c3;
    font-size: 2em;
    
}
.fa-gift{
    color: #1259c3;
    font-size: 2em;
    
}
.piepie{
    font-size: 12px;
    margin-top: 35px;
}
.seccionFooter{
    margin-top: 70px;
}
main{
    background-color: #ebebeb;
    width: 90vw;
    margin: auto;
    
    margin-top: -22px;
}
.fa-truck{
color:#39b54a;
}

.envio{

    margin-top: 2px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
    padding: 15px;
    background-color: white;
    width: 292px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.banner{
    width: 90vw;
    height: 70px;
    margin:auto;
    background-image: url("../images/img-home-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.divBanner{

    width: 90vw;
}
.menu{
    display: none;
}

.foto{
    width: 292px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
@media (min-width: 361px){
	.desc{        
        visibility: visible; 
        
              
    }
    .menu{
        display: block;
    }
    .seccion{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 769px){
	.desc{        
        display: block;    
        

    }
    .menu{
        display: block;
    }
    .seccion{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}